<!--Start sidebar-wrapper-->
 <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true" class="border-right border-secondary-light shadow-none">
   <div class="brand-logo">
     <img src="favicon-32x32.png" class="logo-icon" alt="logo icon">
     <h5 class="logo-text">River Styx</h5>
 </div>
 <ul class="sidebar-menu do-nicescrol">
    <li class="sidebar-header">Customer Accounts</li>
    <li class="active">
      <a href="#" class="waves-effect active">
        <i class="icon-directions"></i> <span>Switch Role</span>
      </a>
    </li>
  </ul>
 
 </div>
 <!--End sidebar-wrapper-->